<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>username</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for u in users %}
            <tr>
                <td>{{ loop.index }}</td>
                
<!-- TODO: show users id and username to administrator so he can decide what he wants to do-->
<!-- for now i can only get whole object and cant access any part of it-->
                
        <!--        <td>{{ u['id'] }}</td>
                <td>{{ u }}</td>
                <td>
                    <a href="">Change</a>
                    <a href="" class="delete-btn">Delete</a>
                </td>
            </tr>
            
        -->
        {% endfor %}
        </tbody>
    </table>
</body>
</html>